#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define L_DEF     0
#define L_FUN     1
#define L_SYM     2
#define L_MEDIA   3
#define L_NUM     4
#define L_NAV     5
#define L_META    6
#define L_CRSR    7

// opposite layers
#define LO_FUN    L_NUM
#define LO_SYM    L_NAV
#define LO_MEDIA  L_META
#define LO_NUM    L_FUN
#define LO_NAV    L_SYM
#define LO_META   L_MEDIA

#define SYM(k)    &lt L_SYM    k
#define NUM(k)    &lt L_NUM    k
#define FUN(k)    &lt L_FUN    k
#define META(k)   &lt L_META   k
#define NAV(k)    &lt L_NAV    k
#define MEDIA(k)  &lt L_MEDIA  k

#define HMSHFT(k) &hm LSHIFT k
#define HMCTRL(k) &hm LCTRL  k
#define HMGUI(k)  &hm LGUI   k
#define HMALT(k)  &hm LALT   k

#define CA(k)     LC(LA(k))

&caps_word {
	continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

&lt {
	tapping-term-ms = <300>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };
    
    macros {
        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };
        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };
        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };
        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };

    chosen {
      zmk,matrix_transform = &default_transform;
      //zmk,matrix_transform = &five_column_transform;
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

//`-----------' O O O  O O O `-----------'
                default_layer_0 {
                        label = "BASE";
                        bindings = <
&kp ESC   &kp Q    &kp W    &kp E     &kp R     &kp T			&kp Y &kp U     &kp I     &kp O    &kp P       &kp BSPC
&kp LCTRL HMGUI(A) HMALT(S) HMCTRL(D) HMSHFT(F) &kp G			&kp H HMSHFT(J) HMCTRL(K) HMALT(L) HMGUI(SEMI) &kp SQT
&kp LSHFT &kp Z    &kp X    &kp C     &kp V     &kp B			&kp N &kp M     &kp COMMA &kp DOT  &kp FSLH    &kp MINUS
                              META(ESC) NAV(BSPC) NUM(TAB)         FUN(RET) SYM(SPACE) MEDIA(DEL)
                        >;
                };

// Right hand layers
//`-----------' O O O  X O O `-----------'
                fun_layer_1 {
                        label = "FUN";
                        bindings = <
&kp F13 &kp F14 &kp F15 &kp F16 &kp F17 &kp F18			&to L_DEF   &none      &none     &none    &none    &bootloader
&kp  F1 &kp  F2 &kp  F3 &kp  F4 &kp  F5 &kp  F6			&none       &kp LSHIFT &kp LCTRL &kp LALT &kp LGUI &none
&kp  F7 &kp  F8 &kp  F9 &kp F10 &kp F11 &kp F12			&to LO_FUN  &none      &none     &none    &none    &none
                            &kp ESC &kp BSPC &kp TAB         &trans &kp SPACE &kp DEL
                        >;
                };

//`-----------' O O O  O X O `-----------'
                sym_layer_2 {
                        label = "SYM";
                        bindings = <
&kp TILDE &kp AMPS  &kp PIPE &kp DLLR  &kp LBRC &kp RBRC		&to L_DEF  &none      &none     &none    &none    &none
&kp GRAVE &kp HASH  &kp EXCL &kp EQUAL &kp LPAR &kp RPAR		&none      &kp LSHIFT &kp LCTRL &kp LALT &kp LGUI &none
&none     &kp PRCNT &kp AT   &kp CARET &kp LBKT &kp RBKT		&to L_NAV &none      &none     &none    &none    &none
                                    &kp ESC &kp BSPC &kp TAB       &kp RET &trans &kp DEL
                        >;
                };

//`-----------' O O O  O O X `-----------'
                media_layer_3 {
                        label = "MEDIA";
                        bindings = <
&none         &none        &none        &none        &none        &bt BT_CLR			&to L_DEF    &none      &none     &none    &none    &none
&none         &kp C_PREV   &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT   &none				&none        &kp LSHIFT &kp LCTRL &kp LALT &kp LGUI &none
&out OUT_USB  &bt_0        &bt_1        &bt_2        &bt_3        &none				&to LO_MEDIA &none      &none     &none    &none    &none
                                                    &kp C_STOP &kp C_PP &kp C_MUTE         &kp RET &kp SPACE &trans
                        >;
                };

// Left hand layers
//`-----------' O O X  O O O `-----------'
                number_layer_4 {
                        label = "NUM";
                        bindings = <
&bootloader &none    &none    &none     &none      &to L_DEF			&none     &kp N7  &kp N8  &kp N9 &kp LPAR  &kp RPAR
&none       &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none			&kp N0    &kp N4  &kp N5  &kp N6 &kp COLON &kp BSLH
&none       &none    &none    &none     &none      &to LO_NUM			&kp PLUS  &kp N1  &kp N2  &kp N3 &kp FSLH  &kp STAR
                                     &kp ESC &kp BSPC &trans		&kp RET &kp SPACE &kp DEL
                        >;
                };

//`-----------' O X O  O O O `-----------'
                nav_layer_5 {
                        label = "NAV";
                        bindings = <
&kp LA(LEFT)  &kp LA(RIGHT) &kp LC(W)   &kp LC(PG_UP)  &kp LC(PG_DN)   &kp LC(LS(T)) 		&none      &none        &none      &none        &none         &kp BSPC
&kp LC(GRAVE) &kp LGUI      &kp LALT    &kp LCTRL      &kp LSHIFT      &kp F3			&caps_word &kp LEFT     &kp UP     &kp DOWN     &kp RIGHT     &kp K_APP
&kp LC(Y)     &kp LC(Z)     &kp LS(DEL) &kp LC(INS)    &kp LS(INS)     &kp K_APP		&kp INS    &kp HOME     &kp PG_UP  &kp PG_DN    &kp END       &none
                                                         &kp ESC &trans &kp TAB		&kp RET &kp SPACE &kp DEL
                        >;
                };

//`-----------' X O O  O O O `-----------'
                meta_layer_6 {
                        label = "META";
                        bindings = <
&none   &none    &none    &none     &none      &to L_DEF			&kp LC(Y)  &kp LS(INS) &kp LC(INS) &kp LS(DEL) &kp LC(Z) &none
&none   &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &none				&none &none      &none     &none    &none    &none
&none   &none    &none    &none     &none      &to LO_META			&none &none      &none     &none    &none    &none
                                   &trans &kp BSPC  &kp TAB		&kp RET &kp SPACE &kp DEL
                        >;
                };

        };
};
