#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define HS(k)  &hm LSHIFT k
#define HC(k)  &hm LCTRL k
#define HA(k)  &hm LALT k
#define HG(k)  &hm LGUI k
#define GC(k)  &kp LG(LC(k))
#define GA(k)  &kp LG(LA(k))
#define MSC_UP    &msc SCRL_UP
#define MSC_DOWN  &msc SCRL_DOWN
#define MSC_LEFT  &msc SCRL_LEFT
#define MSC_RIGHT &msc SCRL_RIGHT
#define MMV_UP    &mmv MOVE_UP
#define MMV_DOWN  &mmv MOVE_DOWN
#define MMV_LEFT  &mmv MOVE_LEFT
#define MMV_RIGHT &mmv MOVE_RIGHT


&caps_word {
	continue-list = <UNDERSCORE BACKSPACE DELETE>;
};

/ {
	behaviors {
		hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    layer_lower: tap_dance_lower {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_LOWER";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mo 1>, <&tog 1>;
        };
    layer_raise: tap_dance_raise {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_RAISE";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&mo 2>, <&tog 2>;
        };
    space_ret: tap_dance_space_ret {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SPACE_RET";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp SPACE>, <&kp RET>;
        };
  };

  macros {
    bt_0: bt_profile_macro_0 {
      label = "BT_0";
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&out OUT_BLE>,
          <&bt BT_SEL 0>;
    };
    bt_1: bt_profile_macro_1 {
      label = "BT_1";
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&out OUT_BLE>,
          <&bt BT_SEL 1>;
    };
    bt_2: bt_profile_macro_2 {
      label = "BT_2";
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&out OUT_BLE>,
          <&bt BT_SEL 2>;
    };
    bt_3: bt_profile_macro_3 {
      label = "BT_3";
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings
        = <&out OUT_BLE>,
          <&bt BT_SEL 3>;
    };
  };

  chosen {
    zmk,matrix_transform = &default_transform;
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";
    tri_layer {
      if-layers = <1 2>;
      then-layer = <3>;
    };
  };
};

/ {
  keymap {
    compatible = "zmk,keymap";
    default_layer {
      label = "QWERTY";
      bindings = <
&kp ESC        &kp Q      &kp W        &kp E       &kp R         &kp T         &kp Y       &kp U      &kp I     &kp O     &kp P     &kp GRAVE
&kp LCTRL      &kp A      &kp S        HC(D)       HS(F)         &kp G         &kp H       HS(J)      HC(K)     &kp L     &kp SEMI  &kp SQT
&kp LSHFT      &kp Z      &kp X        &kp C       &kp V         &kp B         &kp N       &kp M      &kp COMMA &kp DOT   &kp FSLH  &kp TAB
                                          &kp LALT &layer_lower  &kp BSPC    &space_ret &layer_raise &kp LGUI
      >;
    };
    lower_layer {
      label = "FUN";
      bindings = <
&none          &none      &kp PG_UP    &kp UP      &kp PG_DN     &kp DEL       &kp F1      &kp F2     &kp F3    &kp F4    &kp F5     &kp F6
&none          &kp HOME   &kp LEFT     &kp DOWN    &kp RIGHT     &kp END       &kp F7      HS(F8)     HC(F9)    HA(F10)   HG(F11)    &kp F12
&none          &kp LC(Z)  &kp LS(DEL)  &kp LC(INS) &kp LS(INS)   &kp INS       &kp K_APP   &caps_word &kp LG(TAB) GA(K)   &kp LC(F5) &kp LC(F12)
                                                   &kp LALT &tog 1 &trans    &kp RET &tog 2 &kp TAB
      >;
    };
    raise_layer {
      label = "SYM";
      bindings = <
&none         &kp EXCL   &kp AT       &kp HASH    &kp DLLR      &kp PRCNT     &kp CARET   &kp AMPS   &kp STAR  &kp LPAR  &kp RPAR  &kp UNDER
&kp LCTRL     &kp N1     &kp N2       &kp N3      &kp N4        &kp N5        &kp N6      &kp N7     &kp N8    &kp N9    &kp N0    &kp MINUS
&kp LSHFT     &none      &kp LBKT     &kp RBKT    &kp LBRC      &kp RBRC      &none       &kp PIPE   &kp EQUAL &kp PLUS  &kp BSLH  &kp TAB
                                                  &kp LALT &tog 1 &kp DEL   &trans &tog 2 &kp LGUI
      >;
    };
    meta_layer {
      label = "META";
      bindings = <
&none         &none      GA(LEFT)     &none       GA(RIGHT)     &bootloader   &bootloader &mkp LCLK  &mkp RCLK &none     &none     &none
&none         &kp LG(TAB) GC(LEFT)    GC(D)       GC(RIGHT)     GC(F4)        &none       MMV_LEFT   MMV_UP    MMV_DOWN  MMV_RIGHT &none
&out OUT_USB  &bt_0      &bt_1        &bt_2       &bt_3         &bt BT_CLR    &none       MSC_LEFT   MSC_UP    MSC_DOWN  MSC_RIGHT &none
                                                         &none &none &to 0  &to 0 &none &none
      >;
    };
  };
};
